@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);
body {
  font-family: "Noto Sans TC", sans-serif !important;
}
.header {
  margin-bottom: 3rem;
}
.header hr {
  border: 0.5px solid #9c8266;
  width: 80vw;
}
.header-title {
  width: 80vw;
  margin-left: 10vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header img {
  width: 200px;
  height: 130px;
  padding-left: 50px;
}
.buttons {
  display: flex;
  gap: 40px;
  padding-right: 50px;
}
.headerbutton {
  width: 150px;
  height: 50px;
  font-size: medium;
  font-family: "Noto Sans TC", sans-serif !important;
  background-color: #bba487;
  color: white;
  letter-spacing: 5px;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}
.headerbutton:hover {
  background-color: #9c8266;
}

