/* Styles specific to About component */
.about {
}
.about-content {
  display: flex;
  justify-content: space-between;
  width: 80vw;
  margin-left: 10vw;
}
.about-content img {
  width: 500px;
  height: 500px;
}
.about_intro {
  width: 40vw;
}
.content {
  white-space: pre-wrap;
}
.first {
  font-size: 30px;
  padding-bottom: 3rem;
}
